<div class="accounts-div">
  <h3>Account List</h3>
  <div class="row display-flex header">
    <div class="col-md-3 col-sm-3">Account Number</div>
    <div class="col-md-3 col-sm-3">Account Type</div>
    <div class="col-md-3 col-sm-3">Balance</div>
    <div class="col-md-3 col-sm-3">Check</div>
    <div class="col-md-3 col-sm-3"></div>
  </div>
  <div class="row display-flex" *ngFor="let account of accounts">
    <div class="col-md-3 col-sm-3">{{account.account_number}}</div>
    <div class="col-md-3 col-sm-3">{{account.account_type}}</div>
    <div class="col-md-3 col-sm-3">{{account.balance | currency: 'ZAR '}}</div>
    <div class="col-md-3 col-sm-3 display-flex-btn">

      <!-- According to the balance amount the button disable applied for only negative balances of account -->
      <button [ngClass]=" (account.account_type=='savings' && account.balance <=0) || ((account.account_type=='cheque' ) &&
        (account.balance <=-500)) ? 'btn btn-light' : 'btn btn-success'" [disabled]="(account.account_type == 'savings' && account.balance <= 0) || (account.account_type == 'cheque') && 
        (account.balance <= -500)" data-toggle="modal" data-target=".bd-example-modal-sm"
        (click)="calculateWithdrawl(account)">Withdrawl</button>

    </div>
  </div>
  <hr>
  <div class="row display-flex-balance">
    <div class="col-md-6">Balance</div>
    <div class="col-md-6">{{totalBalance | currency: 'ZAR ' : 'symbol' : '4.2-2'}}</div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Withdrawl Amount</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Amount:
        <input type="text" name="amount" #amount>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)=" withdrawlAmount(amount.value)">Save
          changes</button>
      </div>
    </div>
  </div>
</div>