<div class="accounts-div">
  <h3>Account List</h3>
  <div class="row display-flex header">
    <div class="col-md-3 col-sm-3">Account Number</div>
    <div class="col-md-3 col-sm-3">Account Type</div>
    <div class="col-md-3 col-sm-3">Balance</div>
    <div class="col-md-3 col-sm-3"></div>
  </div>
  <div class="row display-flex" *ngFor="let account of accounts">
    <div class="col-md-3 col-sm-3">{{account.account_number}}</div>
    <div class="col-md-3 col-sm-3">{{account.account_type}}</div>
    <div class="col-md-3 col-sm-3">{{account.balance | currency: 'ZAR '}}</div>
    <div class="col-md-3 col-sm-3 display-flex-btn">
      <!-- According to the assessment the button disable applied for only negative balances of savings account -->
      <button class="btn btn-success" (click)="withdrawlAmount(account)" [disabled]="account.balance <= 0 && account.account_type == 'savings'">Withdrawl</button>
      <!-- According to the screenshot in the assessment the button disable applied for negative balances of both credit and savings accounts -->
      <!-- <button class="btn btn-success" (click)="withdrawlAmount(account)" [disabled]="account.balance <= 0"></button>Withdrawl</button> -->
    </div>
  </div>
  <div class="row display-flex-balance">
    <div class="col-md-6">Balance</div>
    <div class="col-md-6">{{totalBalance | currency: 'ZAR ' : 'symbol' : '4.2-2'}}</div>
  </div>
</div>
